<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Docker</title>
</head>
<body>
    <h1>Docker</h1>
    <form method="post" action="/">
        <label for="text">Add to list: </label>
        <input name="text" id="text" autofocus />
    </form>
    <% if (logs.length === 0) { %>
        <h2>No logs here</h2>
    <% } else { %>
        <h2>List: </h2>
        <ul>
            <% for (let i = 0; i < logs.length; i++) { %>
                <li><%= logs[i] %></li>
            <% } %>
        </ul>
    <% } %>
</body>
</html>
